@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: all 0.5s;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main_color: rgb(86, 43, 226);
  --main_accent: rgb(190, 179, 226);
}

body {
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  background-color: #ebebeb;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 40px;
  color: var(--main_color);
}

.add_new_todo {
  display: flex;
  margin: 50px 0;
  align-items: center;
}

.input_container {
  flex: 1;
  margin-right: 15px;
}

label {
  display: block;
}

.input_container input,
.modal_wrapper form input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.input_container input,
.modal_wrapper .modal input {
  margin-top: 5px;
}

.input_container > label:first-child,
.modal > label {
  margin-bottom: 15px;
}

.add_new_todo > button {
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 98, 158, 1) 0%,
    rgba(255, 0, 63, 1) 35%
  );
  color: white;
  font-size: 30px;
  border: none;
  font-family: 'Open Sans';
  font-weight: 500;
}

.add_new_todo > button:hover {
  background: radial-gradient(
    circle,
    var(--main_color) 58%,
    rgba(255, 98, 158, 1) 100%
  );
}

hr {
  margin-bottom: 40px;
}

ul h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

ul > li {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
}

ul > li:hover {
  box-shadow: 11px 10px 44px -22px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

ul > li:last-child {
  margin: 0;
  overflow: hidden;
}

ul p {
  color: #262032;
}

ul div {
  text-align: center;
}

.date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: var(--main_color);
  font-weight: 200;
}

.edit_wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test > input {
  padding: 0;
  margin: 0;
  border-width: 0;
  width: 0;
  height: 0;
  display: inline-block;
  opacity: 0;
}

.test span {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 40%,
    rgb(219, 218, 218) 100%
  );
  border-radius: 5px;
  border: 1px solid var(--main_color);
  position: relative;
}
.test span:hover {
  background: var(--main_color);
}
.test span:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.test input:checked + span {
  background: var(--main_accent);
}

.test input:checked + span:before {
  font-size: 18px;
  content: '\2714';
  color: white;
}

.test input:checked + span {
  border: white 1px solid;
}

ul li.finished_item {
  background-color: var(--main_accent);
}

ul li.finished_item > h2,
ul li.finished_item > p {
  color: white;
}

.edit_wrapper button {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid rgba(255, 0, 63, 1);
  color: rgba(255, 0, 63, 1);
  font-weight: 600;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 40%,
    rgb(219, 218, 218) 100%
  );
}

.edit_wrapper .delete_button:hover {
  background: rgba(255, 0, 63, 1);
  color: white;
}

.edit_wrapper .edit_button {
  border: 1px solid var(--main_color);
  color: var(--main_color);
  font-weight: 600;
  transform: scale(-1, 1);
}

.edit_wrapper .edit_button:hover {
  background: var(--main_color);
  color: white;
}

/* modal styles */
.modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262032dd;
  display: none;
}

.modal:after {
  content: '\2715';
  font-size: 20px;
  position: absolute;
  top: 3px;
  right: 3px;
  color: crimson;
  padding: 15px;
  cursor: pointer;
}

.modal_wrapper h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 20px;
}

.modal_wrapper form {
  background-color: white;
  width: 600px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal label:nth-child(3) {
  margin-bottom: 30px;
}

.save {
  margin: auto;
  padding: 10px 25px;
  display: block;
  background: white;
  border-radius: 5px;
  border: 1px solid var(--main_color);
  transition: 500ms;
  font-size: 18px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
}

.save:hover {
  background: var(--main_color);
  color: white;
}

input:focus {
  outline: var(--main_color) 1px solid;
  border-radius: 3px;
  border: 1px solid transparent;
}
